<section class="convertor">
    <div class="convertor__container">
        <div class="convertor__wrapper">
            <form action="#" class="convertor__form form-converter">
                <div class="form-converter__wrapper">
                    <div class="form-converter__currency">
                        <input data-type="from" (input)="onInput($event)" [(ngModel)]="currencyForm.valueFrom" [value]="currencyForm.valueFrom" autocomplete="off" type="text" name="form[]"
                            data-error="Ошибка" placeholder="" class="input">
                        <select (change)="fromTo()" [(ngModel)]="currencyForm.from" name="form[]" class="form">
                            <option *ngFor="let c of curr">{{c.cc}}</option>
                        </select>
                    </div>
                    <div class="form-converter__currency">
                        <input data-type="to" (input)="onInput($event)" autocomplete="off" [value]="currencyForm.valueTo" type="text" name="form[]"
                            data-error="Ошибка" placeholder="" class="input">
                        <select (change)="fromTo()" [(ngModel)]="currencyForm.to" name="form[]" class="form">
                            <option *ngFor="let c of curr">{{c.cc}}</option>
                        </select>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>